* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-image: url('./img/iron-glory-background.jpg');
}

.header {
  height: 50vw;
  // background-image: url('/img/iron-glory-background.jpg');
  background-size: cover;
  background-position: center;
}
