/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
 }

 img {
   width: 100%;
 }

 .header {
   height: 500px;
   background-image: url('/img/iron-glory-background.jpg');
   background-size: cover;
   background-position: center;
 }

 .search_style {
   padding-top: 8px;
 }

.borderHeader {
  position: fixed;
  background-color: white;
  /*border-bottom: 1px solid rgb(226, 226, 226);*/
  z-index: 1;
  height: 75px;
  padding: 12px;
}

.starLogo {
  width: 65px;
  height: 50px;
}

.containerMargin {
  margin-top: 200px;
}

.nav_style {
    width: 100%;
}
.nav_style_li {
    border-left: 1px solid rgb(226, 226, 226);
    border-right: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    display: inline-block;
    height: 75px;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #424242;
}
.nav_style_li:hover {
  background-color: #FF008F;
  color: white;
  border-left: 1px solid #FF008F;
  border-right: 1px solid #FF008F;
  border-bottom: 1px solid #FF008F;
}
a:hover {
  text-decoration: none;
}
.not_home_nav {
  margin-top: 75px;
  border-top: 1px solid rgb(226, 226, 226);
}
.cart_btn {
    border-radius: 0;
    border: 1px solid rgb(226, 226, 226);
    background-color: white;
    color: #424242;
    text-transform: uppercase;
    height: 40px;
}
.cart_btn:hover {
    background-color: #FF008F;
    color: white;
}

.search_btn {
  background-color: white;
  color: #424242;
}
.search_btn:hover {
  background-color: #FF008F;
  color: white;
}

.homeContainers {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-left: 10px;
  padding-right: 10px;
}

.headerText {
  color: #FF008F;
  text-transform: uppercase;
  padding: 0;
}

.item_info {
  font-weight: bold;
  font-size: 15px;
  padding: 0;
}

.social_icon {
  color: #424242;
  margin: 10px;
}
.social_icon:hover {
  color: #FF008F;
}

.footer_links {
  color: #424242;
  margin: 10px;
  cursor: pointer;
}
.footer_links:hover {
  color: #FF008F;
}
.footer_logo {
  margin-top: 70px;
  padding-right: 50px;
}






/*media queries*/
@media all and (max-width: 768px) {
    .nav_style_li {
        display: block;
    }
    .borderHeader {
      height: 150px;
    }
    .starLogo {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    .search_style {
      margin-right: 10px;
    }
    .headerText {
      margin-top: 5px;
    }
    .item_info {
      text-align: left;
    }
    .footer_logo {
      display: none;
    }
}
