/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
 }

 img {
   width: 100%;
 }

 .header {
   height: 50vw;
   background-color: rgb(171, 187, 255);
   /*background-image: url('/webpack/img/iron-glory-background.jpg');*/
   background-size: cover;
   background-position: center;
 }

 .headerBackgroundLogo {
  margin-top: 170px;
}

.containerMargin {
  margin-top: 50px;
}

.borderBottom {
  border-bottom: 1px solid red;
}

.textColor {
  color: #FF008F;
}

.footerEtsyLinks {
    margin-top: 15px;
    // a {
    //     color: black
    // }
}
