/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
 }

 img {
   width: 100%;
 }


 .header {
   height: 34vw;
   background-image: url('/img/iron-glory-background.jpg');
   background-size: cover;
   background-position: center;
 }

 .headerBackgroundLogo {
  margin-top: 170px;
}

.borderHeader {
  position: fixed;
  background-color: black;
  z-index: 1;
}

.tabLinks{
 height: 5vh;
 background-color: #424242 ;
 margin-top: 50px;
 margin-bottom: 20px;
 display: flex;
 font-size: 20px;
 box-shadow: 2px 2px lightgrey;
 border-bottom: 2px solid #424242 ;
}
.link1{
 flex: 1;
 color: #ff0089 ;
 transition: .4s ease;
 border-bottom: 2px solid #424242 ;
}
.link2{
 flex: 1;
 color: #ff0089 ;
 transition: .4s ease;
 border-bottom: 2px solid #424242 ;
}
.link3{
 flex: 1;
 color: #ff0089 ;
 transition: .4s ease;
 border-bottom: 2px solid #424242 ;
}
.link4{
 flex: 1;
 color: #ff0089 ;
 transition: .4s ease;
 border-bottom: 2px solid #424242 ;
}
.link5{
 flex: 1;
 color: #ff0089 ;
 transition: .4s ease;
 border-bottom: 2px solid #424242 ;
}
.link1:hover, .link2:hover, .link3:hover, .link4:hover, .link5:hover{
 background-color: #dedede ;
 color: #ff0089 ;
 border-bottom: hidden;

}


.starLogo {
  width: 65px;
  height: 50px;
}

.containerMargin {
  margin-top: 50px;
}

.borderBottom {
  border-bottom: 1px solid red;
}

.textColor {
  color: #FF008F;
}

.footerEtsyLinks {
    margin-top: 15px;
    /*// a {
    //     color: black
    // }*/
}

.nav_style {
    width: 100%;
}
.nav_style_li {
    border: 1px solid rgb(226, 226, 226);
    display: inline-block;
    height: 75px;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #424242;
}
.nav_style_li:hover {
  background-color: #FF008F;
  color: white;
}
a:hover {
  text-decoration: none;
}







/*media queries*/
@media all and (max-width: 768px) {
    .nav_style_li {
        display: block;
    }
}
